.wrapper {
  max-width: 1140px;
  width: 94%;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  position: relative;
  color: #fff;
  text-align: center;
  z-index: -1;
}
.title--callout {
  padding-bottom: 150px;
}
.title > .wrapper {
  position: relative;
  z-index: 1;
}
.title__info {
  padding: 80px 0;
}
.title__info-title {
  position: relative;
  margin: 0;
}
.title__info-title h1 {
  font-size: 6em;
  text-align: center;
  font-family: "Great Vibes";
}
.title__bg {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  position: absolute;
  overflow: hidden;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9121b1;
  background-image: -webkit-linear-gradient(57deg, rgba(168, 25, 177, 0.9) 0%, rgba(111, 19, 169, 0.8) 100%);
  background-image: linear-gradient(33deg, rgba(168, 25, 177, 0.9) 0%, rgba(111, 19, 169, 0.8) 100%);
}
.title__bg .wrapper {
  opacity: 0.7;
  position: relative;
  background-position: 0 80px;
  background-repeat: no-repeat;
  background-image: url(../img/shields--featured.svg);
  padding: 220px 0;
}

.footer {
  background: #fff;
  padding: 50px 0 100px;
}
.footer__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding: 0 0 35px;
}

.list-page {
  margin-top: -10em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.list-page__add-button {
  border-bottom: none;
  border-radius: 0px;
}
.list-page__add-button .fa {
  color: #9121b1;
}
.list-page__table {
  background-color: #ffffff;
  border: 1px solid #ddd;
  text-align: center;
}
.list-page__table th {
  text-align: center;
}
.list-page .table-responsive {
  width: 100%;
}
