@import "../common/vars";

// HEADER
.title {
    position: relative;
    color: #fff;
    text-align: center;
    z-index: -1;
    &--callout {
      padding-bottom: 150px;
    }
    &>.wrapper {
      position: relative;
      z-index: 1;
    }
    &__info {
      padding: 80px 0;
      &-title {
        position: relative;
        margin: 0;
        h1 {
          font-size: 6em;
          text-align: center;
          font-family: $handy-font;
        }
      }
    }
    &__bg {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      position: absolute;
      overflow: hidden;
      top: -100px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $violet;
      background-image: -webkit-linear-gradient(57deg,rgba(168,25,177,0.9) 0%,rgba(111,19,169,0.8) 100%);
      background-image: linear-gradient(33deg,rgba(168,25,177,0.9) 0%,rgba(111,19,169,0.8) 100%);
      .wrapper {
        opacity: 0.7;
        position: relative;
        background-position: 0 80px;
        background-repeat: no-repeat;
        background-image: url(../img/shields--featured.svg);
        padding: 220px 0;
      }
    }
}
